@media (min-width: 768px) {
  .homepage__header {
    width: 100%;
    position: fixed;
    display: block;
    background-color: #ffffff;
    z-index: 10;
  }

  .header__list {
    background-color: #ffffff;
  }

  .homepage__preview {
    display: none;
  }

  .homepage__preview-full {
    width: 100%;
    display: flex;
    margin-top: 70px;
    padding: 0 24px;
  }

  .preview-full__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .preview-full__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .preview-full__title {
    width: 50%;
    display: flex;
    box-sizing: border-box;

    font-family: "Jura";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #141414;
  }

  .preview-full__circle::after {
    content: "";
    display: flex;
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: #ff5d2a;
    filter: blur(40px);
    border-radius: 50%;
    z-index: 1;
    -webkit-filter: blur(40px);
    transform: translate(90px, -120px);
    -webkit-transform: translate(90px, -120px);
    -moz-transform: translate(90px, -120px);
    -ms-transform: translate(90px, -120px);
    -o-transform: translate(90px, -120px);
  }

  .preview-full__img {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    z-index: 5;
  }

  .preview-full__link {
    padding-left: 30px;
    font-family: "Jura";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    /* Main black */

    color: #141414;
  }

  .preview-full__link::before {
    content: "";
    display: flex;
    position: absolute;
    width: 56px;
    height: 56px;
    transform: translateX(-27px) translateY(-16px);
    /*Mainorange*/
    background: #ff5d2a;
    filter: blur(12px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
    -webkit-transform: translateX(-27px) translateY(-16px);
    -moz-transform: translateX(-27px) translateY(-16px);
    -ms-transform: translateX(-27px) translateY(-16px);
    -o-transform: translateX(-27px) translateY(-16px);
    -webkit-filter: blur(12px);
  }

  .swiper {
    width: 100% !important;
  }

  .swiper-wrapper {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around;
    column-gap: 20px;
  }

  .swiper-slide {
    display: flex !important;
    width: 220px !important;
  }

  .swiper__container {
    justify-content: center;
  }

  .swiper__img {
    width: auto;
    height: 150px;
  }

  .swiper__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    order: 1;
    font-size: 20px;
  }

  .swiper__text {
    order: 2;
    font-size: 14px;
  }
}
